<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="{% static 'spotify_testing/base.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'spotify_testing/home.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'spotify_testing/playlist_complete.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'spotify_testing/user_profile.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'spotify_testing/song_selection.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'spotify_testing/create_playlist.css' %}" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="static/spotify_testing/home.css"> -->
        <title> {% block title %} Spotify Thing {% endblock %} </title>


        <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
        <script src="{% static 'socialnetwork/networking.js' %}?v={% now 'U' %}" type="text/javascript"></script> -->
    </head>

    <body>
        <div id="id_header_div"> 
            {% block heading %}
			{% endblock %}
        </div>

        <div class="body-container">
		    {% block content %}
		    {% endblock %}
		</div>

    </body> 
</html>