{% extends "spotify_testing/base.html" %}
{% load static %}

{% block heading %} 
    <a class="site_name" href="{% url 'home' %}">App Name</a>
    <a id="profile_link" href="{% url 'user-profile' %}">Profile</a>
{% endblock %}

{% block content %}
    <div class="feed-container">
        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>
    

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>

        <div class="playlist-container">
            <img class="playlist-image" src="{% static '/beatles.png' %}" alt="Beatles Album Cover">
            <a class="playlist-name">From Me to You - Mono / Remastered</a>
            <a class="playlist-user">The Beatles</a>
            <a class="playlist-likes">5</a>
        </div>
    
    </div>

    <div class="create-playlist-container">
        <button id="create-playlist-button">Create New Playlist</button>
    </div>
{% endblock %}

{#
<body>
    <div class="feed-container">
        {% for playlist in playlists %}
            <div class="playlist-container">
                <div class="v1_124"></div>
                <img class = "playlist-image" src= "{{playlist.image}}">
                <a class = "playlist-name"> {{ playlist.name }} </a>
                <a class = "playlist-user"> {{ playlist.user }} </a>
                <a class = "playlist-likes"> {{ playlist.likes }} </a>
        {% endfor %}
    </div>

    <div class="create-playlist-container">
        <button id="create-playlist-button">Create New Playlist</button>
    </div>
</body>
#}

