#id_header_div{
    background-color: steelblue;
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;
    margin: 0px;
}

#id_site_name{
    font-size: 3em;
    display: inline-block;
}

#id_register_link,
#id_login_link{
    position: absolute;
    top: 9vh;
    right: 5%;
    font-size: 1.5em;
    color: white;
}

#id_nav_name_container{
    position: absolute;
    top: 3vh;
    right: 7%;
}
#id_nav_profile{
    font-size: 1.5em;
    color: white;
}

.header_tags{
    position: absolute;
    top: 8vh;
    right: 2%;
    width: 25%;
}

#id_nav_global_stream,
#id_nav_follower_stream,
#id_nav_logout{
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.page_name{
    font-size: 2em;
    text-align: center;
    margin: 20px;
    color: black;
    margin-bottom: 0px;
}

#id_login_button,
#id_register_button{
    text-align: center;
    margin: .5em 0;
    color: black;
    padding: .7em;
    border-radius: 10px;
    position: relative;
    left: -2.3em;
    font-size: 20px;
}

label[for="id_username"],
label[for="id_password"],
label[for="id_confirm_password"],
label[for="id_first_name"],
label[for="id_email"],
label[for="id_last_name"],
label[for="id_email"] {
    padding: 10px;
    width: 15em;
    margin: 5px;
    font-size: 20px;
}

#id_username,
#id_post_input_text,
#id_password,
#id_confirm_password,
#id_email,
#id_first_name,
#id_last_name {
    padding: 10px;
    width: 15em;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

#login_form_container,
#register_form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* global stream body */

.global_stream_body,
.comment_container{
    text-align: center;
    margin-top:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.make_new_post,
.make_new_comment{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.post-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between input and button */
}

.comment-input-container {
    display: flex;
    align-items: center;
    gap: 6px; /* Adds spacing between input and button */
}

#id_post_button{
    padding: 5px;
    font-size: 20px;
}
.comment_button{
    padding: 5px;
    font-size: 16px;
    margin-top: 2px;
}
.user-link{
    font-style: italic;
}

.post-date-time,
.comment-date-time{
    width: 50%;
    text-align: left; 
    margin: auto;
    border-radius: 10px;
    font-size: 18px;
}

.post,
.comment{
    width: 45em;
    text-align: left; 
    margin: auto;
    padding:10px;
    border: 1px dotted black;
    border-radius: 10px;
    font-size: 20px;
}

.comment-post{
    width: 30em;
    text-align: left; 
    margin: auto;
    padding:10px;
    border: 1px dotted black;
    border-radius: 10px;
    font-size: 20px;
}

.comment{
    width: 45%;
    margin: 10px;
}

/* profile page body */

.profile_page_body{
    text-align: center;
    margin-top:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_picture_containter{
    justify-content: center;
    display: block; 
    margin: 1em;
    width: 10em;
    height: 10em;
    overflow: hidden;
}

.id_user_picture{
    object-fit: cover;
    height: 100%;
}

.bio_input_container{
    border: 1px solid black;
    width: 40%;
    padding: 5px;
    height: 3em;
}
.profile_bio_input_container{
    padding: 5px;
}
#id_bio_input_text,
#id_user_bio{
    margin: auto;
    padding: auto;
    text-align: left;
    font-size: 1.2em;
}

.pic_selection_container{
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 40%;
}
#profile_picture_text,
#id_update_profile_button{
    margin: 0em 1em 0em 0em;
    font-size: 1em;
}

#id_profile_picture{
    width: 15em;
    font-size: 1em;
}

.follower_container{
    text-align: left;
    padding: 10px;
    width: 40%;
}

#id_you_are_following{
    margin: 0em;
    font-size:1.2em;
}

#id_unfollow{
    margin: 0em 1em 0em 0em;
    font-size: 1.2em;
    margin: 1em;
}

.id_profile_link_2{
    color:black;
}