# To generate a new secret key, use get_random_secret_key():
#    from django.core.management.utils import get_random_secret_key
#    print(get_random_secret_key())
# Warning: The % character is special to ConfigParser - use %%
# Warning: Changing secret keys invalidates existing sessions,
#          so may need to delete your DB tables and re-migrate

[Django]
secret=0vljl33nf+w#n9k@)^m!hy4cm^5gezo(e+48w^2e3%%c8^l^pb$

[MYSQL]
user=root
password=monkeybreath

[Spotify]
SPOTIFY_CLIENT_ID = 
SPOTIFY_CLIENT_SECRET = 
SPOTIFY_REDIRECT_URI = 